  <!doctype html>
    <html>
      <head>
        <title>MadLibs!!</title>
      </head>
      <body>
        <form action="/madlib">
          <p><label>Enter your name: <input type="text" name="person"></label></p>
          <p><label>Choose a name: <input type="text" name="name"></label></p>
          <p><label>Choose a color: <input type="text" name="color"></label></p>
          <p><label>Choose a noun: <input type="text" name="noun"></label></p>
          <p><label>Choose an adjective: <input type="text" name="adjective"></label></p>
          <input type="submit">
        </form>
      </body>
    </html>
